<%= error_messages_for 'advance_day' %>

<!--[form:advance_day]-->

<tr>
  <td><label for="advance_day_days">Días a validar: </label></td>
  <td><%= text_field 'advance_day', 'days'  %></td>
</tr>

<!--[eoform:advance_day]-->

